html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
  color: #EEE;
}

h1 {

}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.page {
  scroll-snap-align: start;
  background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}