@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  overflow-x: hidden;
  font-family: 'Mountains of Christmas', cursive;
}

img {
  width: 100%;
  max-width: 100%;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.page {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.page_no-pad {
  padding: 0;
}

p {
  font-size: 32px;
}

.big {
  font-size: 120px;
  animation: pulse 500ms infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}